<app-header></app-header>

<ion-content>
  <app-title-page title="Registro"></app-title-page>
  <ion-content padding>
      <form #formulario="ngForm" (ngSubmit)="guardarUsuario(formulario.value)">
          <ion-item>
              <ion-label position="floating">Cedula<ion-text color="danger">*</ion-text></ion-label>
              <ion-input type="number"
                          name="cedula"
                          required
                          ngModel
                          >
              </ion-input>
            </ion-item>
          <ion-item>
            <ion-label position="floating">Nombres<ion-text color="danger">*</ion-text></ion-label>
            <ion-input type="text"
                        name="nombres"
                        ngModel
                        required
                        class="ion-text-uppercase"
                        >
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Apellidos<ion-text color="danger">*</ion-text></ion-label>
            <ion-input type="text"
                        name="apellidos"
                        ngModel
                        required
                        class="ion-text-uppercase"
                        >
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Dirección<ion-text color="danger">*</ion-text></ion-label>
            <ion-input type="text"
                        name="direccion"
                        ngModel
                        required
                        class="ion-text-uppercase"
                        >
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Ciudad<ion-text color="danger">*</ion-text></ion-label>
            <ion-select value="" okText="Ok" cancelText="Cancelar" ngModel name="ciudad" required>
                <ion-select-option value="">Seleccione</ion-select-option>
                <ion-select-option *ngFor="let ciudad of ciudades" [value]="ciudad.codigo">{{ciudad.nombre}}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Telefono / Celular<ion-text color="danger">*</ion-text></ion-label>
            <ion-input type="number"
                        name="telefono"
                        required
                        ngModel
                        >
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Email<ion-text color="danger">*</ion-text></ion-label>
            <ion-input type="email"
                        name="correo"
                        required
                        ngModel
                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Clave<ion-text color="danger">*</ion-text></ion-label>
            <ion-input type="password"
                        name="clave"
                        ngModel
                        required>
            </ion-input>
          </ion-item>
          <ion-item>
          <ion-label position="floating">Confirmar Clave<ion-text color="danger">*</ion-text></ion-label>
            <ion-input type="password"
                        name="confirmarClave"
                        ngModel
                        required>
            </ion-input>
          </ion-item>
          <ion-item (click)="abrirTerminos()">
            <h6><u>Terminos y condiciones</u></h6>
          </ion-item>
          <ion-item>
            <ion-label>Acepto</ion-label>
            <ion-checkbox required name="acepta_terminos" [(ngModel)]="acepta_terminos"></ion-checkbox>
          </ion-item>
        <ion-button type="submit" [disabled]="formulario.invalid" expand="full">Enviar</ion-button>
    </form>
  </ion-content>

  <app-fab-whatsapp></app-fab-whatsapp>
</ion-content>

<app-footer></app-footer>
