<app-header></app-header>

<ion-content>
  <app-title-page title="Registro Proveedores"></app-title-page>
  <ion-content padding>
    <form #formulario="ngForm" (ngSubmit)="guardarProveedor(formulario.value)">
      <ion-item>
          <ion-label>Tipo Documento<ion-text color="danger">*</ion-text></ion-label>
          <ion-select value="" okText="Ok" cancelText="Cancelar" ngModel name="tipo_doc" required>
              <ion-select-option value="">Seleccione</ion-select-option>
              <ion-select-option *ngFor="let t of tipodoc" [value]="t.Codigo">{{t.Detalle}}</ion-select-option>
          </ion-select>
        </ion-item>
      <ion-item>
        <ion-label position="floating">Cedula<ion-text color="danger">*</ion-text></ion-label>
        <ion-input type="number"
                    name="cedula"
                    ngModel
                    required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Nombres<ion-text color="danger">*</ion-text></ion-label>
        <ion-input type="text"
                    name="nombres"
                    ngModel
                    required
                    autocapitalize="true"
                    >
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Apellidos<ion-text color="danger">*</ion-text></ion-label>
        <ion-input type="text"
                    name="apellidos"
                    ngModel
                    required
                    >
        </ion-input>
      </ion-item>
      <ion-item>
          <ion-label position="floating">Dirección<ion-text color="danger">*</ion-text></ion-label>
          <ion-input type="text"
                      name="direccion"
                      ngModel
                      required
                      >
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Ciudad<ion-text color="danger">*</ion-text></ion-label>
          <ion-select value="" okText="Ok" cancelText="Cancelar" ngModel name="ciudad" required>
              <ion-select-option value="">Seleccione</ion-select-option>
              <ion-select-option *ngFor="let ciudad of ciudades" [value]="ciudad.codigo">{{ciudad.nombre}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Email<ion-text color="danger">*</ion-text></ion-label>
          <ion-input type="email"
                      name="email"
                      required
                      ngModel
                      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Celular<ion-text color="danger">*</ion-text></ion-label>
          <ion-input type="number"
                      name="celular"
                      required
                      ngModel
                      minlength="10"
                      maxlength="10"
                      >
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Sitio Web</ion-label>
          <ion-input type="url"
                      name="sitio_web"
                      ngModel
                      >
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Grupo<ion-text color="danger">*</ion-text></ion-label>
          <ion-select value="" okText="Ok" cancelText="Cancelar" ngModel name="grupo" required (ionChange)="consultarEspecialidades($event)">
              <ion-select-option value="">Seleccione</ion-select-option>
              <ion-select-option *ngFor="let grupo of grupos" [value]="grupo.codigo">{{grupo.detalle}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Especialidad<ion-text color="danger">*</ion-text></ion-label>
          <ion-select value="" okText="Ok" cancelText="Cancelar" multiple="true" ngModel name="especialidades" required>
              <ion-select-option *ngFor="let especialidad of especialidades" [value]="especialidad.codigo">{{especialidad.nombre}}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Descripcion<ion-text color="danger">*</ion-text></ion-label>
          <ion-textarea name="descripcion"
                        required
                        ngModel
                        value="">
          </ion-textarea>
        </ion-item>
        <h5>Referencia personal</h5>
        <ion-item>
          <ion-label position="floating">Nombre<ion-text color="danger">*</ion-text></ion-label>
          <ion-input type="text"
                      name="nombre_referencia_personal"
                      ngModel
                      required
                      >
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Telefono<ion-text color="danger">*</ion-text></ion-label>
          <ion-input type="number"
                      name="telefono_referencia_personal"
                      required
                      ngModel
                      minlength="7"
                      maxlength="10"
                      >
          </ion-input>
        </ion-item>
        <h5>Referencia familiar</h5>
        <ion-item>
          <ion-label position="floating">Nombre<ion-text color="danger">*</ion-text></ion-label>
          <ion-input type="text"
                      name="nombre_referencia_familiar"
                      ngModel
                      required
                      >
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Telefono<ion-text color="danger">*</ion-text></ion-label>
          <ion-input type="number"
                      name="telefono_referencia_familiar"
                      required
                      minlength="7"
                      maxlength="10"
                      ngModel
                      >
          </ion-input>
        </ion-item>
        <ion-item [routerLink]="['/terminosycondiciones']">
          <h6><u>Terminos y condiciones</u></h6>
        </ion-item>
        <ion-item>
          <ion-label>Acepto</ion-label>
          <ion-checkbox required checked="false" name="acepta_terminos" ngModel></ion-checkbox>
        </ion-item>
        <ion-button type="submit" [disabled]="formulario.invalid" expand="full">Enviar</ion-button>
    </form>
  </ion-content>
  <app-fab-whatsapp></app-fab-whatsapp>
</ion-content>

<app-footer></app-footer>