<app-header></app-header>
<ion-content>
  <app-title-page title="Solicitud de Servicio"></app-title-page>
  <ion-content padding>
    <form #formSolicitud="ngForm" (ngSubmit)="solicitarServicio(formSolicitud.value)">
      <ion-item>
        <ion-label>Servicio Escogido<ion-text color="danger"> *</ion-text>
        </ion-label>
        <ion-select disabled [value]="servicio" okText="Ok" cancelText="Cancelar" ngModel name="servicio" required>
          <ion-select-option value="">Seleccione</ion-select-option>
          <ion-select-option *ngFor="let servicio of servicios" [value]="servicio.codigo">{{servicio.descripcion}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Usuario<ion-text color="danger"> *</ion-text>
        </ion-label>
        <ion-select value="" okText="Ok" cancelText="Cancelar" ngModel name="usuario" required>
          <ion-select-option value="">Seleccione</ion-select-option>
          <ion-select-option *ngFor="let user of usuarios" [value]="user.id">{{user.nombre}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Tiempo de Servicio<ion-text color="danger"> *</ion-text>
        </ion-label>
        <ion-datetime display-format="DD/MM/YYYY" [min]="fechaAct" placeholder="Inicio" cancelText="Cancelar" ngModel
          name="fecha_inicio"></ion-datetime>
        <ion-datetime display-format="DD/MM/YYYY" [min]="fechaAct" placeholder="Fin" cancelText="Cancelar" ngModel name="fecha_fin">
        </ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Duración (Horas)<ion-text color="danger"> *</ion-text>
        </ion-label>
        <ion-select value="" okText="Ok" cancelText="Cancelar" ngModel name="horas" required>
          <ion-select-option value="">Seleccione</ion-select-option>
          <ion-select-option *ngFor="let hora of horas">{{hora}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Hora de Inicio<ion-text color="danger"> *</ion-text>
        </ion-label>
        <ion-datetime display-format="HH:mm" minute-values="0,30" placeholder="Inicio" cancelText="Cancelar" ngModel name="hora_inicio">
        </ion-datetime>
      </ion-item>
      <br>
      <ion-button expand="full" type="submit" [disabled]="formSolicitud.invalid">
        Continuar
      </ion-button>
    </form>
  </ion-content>
</ion-content>