<app-header></app-header>

<ion-content>
  <app-title-page title="Realizar Pago"></app-title-page>
  <ion-content padding>
    <form #formTarjetaCredito="ngForm" (ngSubmit)="procesarPago(formTarjetaCredito.value)">
      <ion-item>
        <ion-label position="floating">Número de tarjeta</ion-label>
        <ion-input type="number" name="numero_tarjeta" minlength="16" maxlength="16" required ngModel
          pattern="^(?:4\d([\- ])?\d{6}\1\d{5}|(?:4\d{3}|5[1-5]\d{2}|6011)([\- ])?\d{4}\2\d{4}\2\d{4})$"></ion-input>
      </ion-item>
      <ion-row align-items-end>
        <ion-item>
          <ion-label position="floating">Expiración</ion-label>
          <ion-datetime display-format="YYYY/MM"  cancelText="Cancelar" max="2030-12-31" ngModel
          name="expiracion"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label position="floating">CVV</ion-label>
          <ion-input type="number" name="cvv" ngModel required pattern="^([0-9]){3,3}$"></ion-input>
        </ion-item>
      </ion-row>
      <ion-item>
        <ion-label position="floating">Nombre del titular</ion-label>
        <ion-input type="texto" name="nombre_titular" required ngModel></ion-input>
      </ion-item>
      <ion-button expand="full" [disabled]="formTarjetaCredito.invalid" type="submit">Procesar Pago</ion-button>
    </form>

  </ion-content>
  <app-fab-whatsapp></app-fab-whatsapp>
</ion-content>
<app-footer></app-footer>