<app-header></app-header>
<ion-content>
  <!--<app-title-page title="Solicitar Servicio"></app-title-page>-->
  <ion-slides pager="true">
    <ion-slide>
      <ion-img src="assets/001.jpg"></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img src="assets/002.jpg"></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img src="assets/003.jpg"></ion-img>
    </ion-slide>
  </ion-slides>
  <ion-grid id="grid-servicios">
    <ion-row class="fila-servicios">
      <ion-col size="5" *ngFor="let servicio of servicios">
        <a routerLink="/solicitud-servicio/{{servicio.codigo}}" routerDirection="forward">
          <ion-img [src]="servicio.icon"></ion-img>
          <ion-text>{{servicio.descripcion}}</ion-text>
        </a>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-fab-whatsapp></app-fab-whatsapp>
</ion-content>

<app-footer></app-footer>