<app-header></app-header>
<ion-content>
  <!--<app-title-page title="Solicitar Servicio"></app-title-page>-->
  <ion-slides pager="true">
    <ion-slide>
      <ion-img src="assets/001.jpg"></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img src="assets/002.jpg"></ion-img>
    </ion-slide>
    <ion-slide>
      <ion-img src="assets/003.jpg"></ion-img>
    </ion-slide>
  </ion-slides>
  <ion-grid id="grid-servicios">
    <ion-row class="fila-servicios">
      <ion-col size="1"></ion-col>

      <ion-col size="5">
        <a routerLink="/solicitud-servicio/S001" routerDirection="forward">
          <ion-img src="../../assets/aux-icono-001.svg"></ion-img>
          <ion-text>Limpieza</ion-text>
        </a>
      </ion-col>
      <ion-col size="5">
        <a routerLink="/solicitud-servicio/S002" routerDirection="forward">
          <ion-img src="../../assets/aux-icono-002.svg"></ion-img>
          <ion-text>Planchado</ion-text>
        </a>
      </ion-col>

      <ion-col size="1"></ion-col>
    </ion-row>

    <ion-row class="fila-servicios">
      <ion-col size="1"></ion-col>

      <ion-col size="5">
        <a routerLink="/solicitud-servicio/S003" routerDirection="forward">
          <ion-img src="../../assets/aux-icono-003.svg"></ion-img>
          <ion-text>Cocina</ion-text>
        </a>
      </ion-col>
      <ion-col size="5">
        <a routerLink="/solicitud-servicio/S004" routerDirection="forward">
          <ion-img src="../../assets/aux-icono-004.svg"></ion-img>
          <ion-text>Cuidado de Niños</ion-text>
        </a>
      </ion-col>

      <ion-col size="1"></ion-col>
    </ion-row>

    <ion-row class="fila-servicios">
      <ion-col size="1"></ion-col>

      <ion-col size="5">
        <a routerLink="/solicitud-servicio/S005" routerDirection="forward">
          <ion-img src="../../assets/aux-icono-005.svg"></ion-img>
          <ion-text>Acompañamiento del Adulto Mayor</ion-text>
        </a>
      </ion-col>
      <ion-col size="5">
        <a routerLink="/solicitud-servicio/S006" routerDirection="forward">
          <ion-img src="../../assets/aux-icono-006.svg"></ion-img>
          <ion-text>Especiales</ion-text>
        </a>
      </ion-col>

      <ion-col size="1"></ion-col>
    </ion-row>
  </ion-grid>
  <app-fab-whatsapp></app-fab-whatsapp>
</ion-content>

<app-footer></app-footer>