<ion-fab slot="fixed" vertical="bottom" horizontal="end" id="zona-whatsapp">
  <ion-fab-button color="dark" id="activa-whatsapp">
      <ion-img src="assets/wp.svg" style="transform: scale(0.6);"></ion-img>
  </ion-fab-button>
  <ion-fab-list side="top" id="lista-whatsapp">
      <ion-label>¡Hola! Si tienes dudas pregúntanos lo que quieras y te atenderemos lo antes posible.</ion-label>
      
      <ion-button href="whatsapp://send?phone=573046514726" size="small" color="success">
          <ion-img src="assets/user.svg" class="ico-user-wp"></ion-img>
          <span>AUX Bogotá y<br> demás ciudades</span>
      </ion-button>
      
      <ion-button href="whatsapp://send?phone=573024213738" size="small" color="success">
          <ion-img src="assets/user.svg" class="ico-user-wp"></ion-img>
          <span>AUX B/quilla<br> y Costa Caribe</span>
      </ion-button>
  </ion-fab-list>
</ion-fab>