<app-header></app-header>

<ion-content>
  <app-title-page title="Confirmar Solicitud"></app-title-page>
  <ion-content class="ion-padding">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Servicio {{solicitud.nombreServicio}}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <b>Fecha Inicio: </b> {{solicitud.fecha_inicio}} <br>
        <b>Cantidad Dias: </b> {{solicitud.cantidad_dias}} <br>
        <hr>
        <b>Hora Inicio: </b> {{solicitud.hora_inicio}} <br>
        <b>Hora Fin: </b> {{solicitud.hora_fin}} <br>
        <b>Cantidad Horas: </b> {{solicitud.horas}} <br>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Valor Servicio</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <b>Total a pagar: </b> {{total}} <br>
        <hr>
      </ion-card-content>
    </ion-card>
    <ion-card *ngIf="usserLogged">
      <ion-card-header>
        <ion-card-title>Pago</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-label>Usuario<ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-select value="" okText="Ok" cancelText="Cancelar" [(ngModel)]="id_usuario" required>
            <ion-select-option value="">Seleccione</ion-select-option>
            <ion-select-option *ngFor="let usuario of usuarios" [value]="usuario.id">{{usuario.nombre}}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Forma de Pago<ion-text color="danger">*</ion-text>
          </ion-label>
          <ion-select value="" okText="Ok" cancelText="Cancelar" name="forma_pago" [(ngModel)]="formaPago" required>
            <ion-select-option value="">Elegir</ion-select-option>
            <ion-select-option value="TC">Tarjeta Crédito</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-button expand="full" (click)="RealizarPago()">Confirmar Solicitud</ion-button>
    <ion-button expand="full" color="danger" [routerLink]="['/solicitar-servicio']">Cancelar</ion-button>
  </ion-content>

  <app-fab-whatsapp></app-fab-whatsapp>
</ion-content>

<app-footer></app-footer>