// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';



/* Futura LT Light */
@font-face {
  font-family: 'FuturaLT Light';
  src: url('assets/Futura/FuturaLT-Light.ttf');
  src: url('assets/Futura/FuturaLT-Light.ttf');
}
* {
  font-family: 'FuturaLT Light';
}



ion-header { background: #fff; }
ion-header img { display: block; margin: 0 auto; float: none; }
ion-header ion-title#logo-interno { float: right; padding: 10px 7px; }
ion-header ion-title#logo-interno img { display: block; margin: 0 auto; float: none; }

ion-content { display: block; background: url(assets/bg1.png) no-repeat top center; background-size: cover; padding: 0 0 55px 0; position: relative; overflow: hidden; }

ion-footer { background: #fff; }
ion-footer ion-title a { width: 250px; height: 36px; display: block; margin: 0 auto; float: none; }
ion-footer ion-title a img { margin: 10px auto; float: none; width: 217px; height: auto; display: block; }

.sc-ion-card-md-h { margin-top: 5px; margin-bottom: 5px; border-radius: 3px; }
.sc-ion-card-md-h:nth-child(2) { margin-bottom: 25px; }

.sc-ion-card-md-s img { display: block; width: 50%; }

.sc-ion-card-ios-h { margin-top: 5px; margin-bottom: 5px; border-radius: 3px; }
.sc-ion-card-ios-h:nth-child(2) { margin-bottom: 25px; }

ion-footer ion-title.title-ios { -webkit-padding-start: 10px; padding-inline-start: 10px; -webkit-padding-end: 10px; padding-inline-end: 10px; }

ion-avatar { border-radius: 0 !important; }
ion-avatar img { border-radius: 0 !important; transform: scale(0.75); }

ion-fab { width: 45px; height: 45px; display: block; border-radius: 50%; }
ion-fab ion-fab-button { width: 45px; height: 45px; display: block; background: #22C15E !important; border-radius: 50%; }



p { font-family: 'FuturaLT Light'; }

ion-row.fila-cards-home ion-col ion-card { background: #001c7d !important; margin-bottom: 5px !important; }
ion-row.fila-cards-home ion-col ion-card.azul-01 { background: #2a489a !important; }
ion-row.fila-cards-home ion-col ion-card.azul-02 { background: #3E5BAC !important; }

ion-row.fila-cards-home ion-col ion-card a { text-decoration: none; }
ion-row.fila-cards-home ion-col ion-card a img { margin: 25px auto 0 auto; }
ion-row.fila-cards-home ion-col ion-card-subtitle { text-align: center; font-size: 0.9em; font-weight: 100 !important; color: #fff; padding: 0; text-transform: uppercase; letter-spacing: 0.15em; }



ion-row#row-titulo { background: #001d7e !important; }
ion-row#row-titulo h2 { margin: 0 auto; font-size: 0.9em; color: #fff; text-align: center; letter-spacing: 0.055em; padding: 0; font-weight: 800; }

ion-row#row-txt-serviespeciales h5 { font-size: 0.9em; line-height: 1.35em; text-align: center; padding: 0 0 8px; font-weight: 900; letter-spacing: 0.075em; margin-top: 5px; margin-bottom: 0; border-bottom: solid 1px rgba(0, 29, 126, 0.55); }

ion-label { font-family: "FuturaLT Light" !important; color: #000 !important; font-weight: 800; font-size: 0.8em !important; letter-spacing: 0.075em; text-transform: uppercase; }



ion-row#row-serviespeciales ion-button { font-size: 0.9em; color: #fff; text-align: center; padding: 0; letter-spacing: 0.025em; }
ion-row#row-serviespeciales ion-button button { border-radius: 3px; }



ion-row#row-boxes-providers ion-col ion-list ion-item { --min-height: 175px !important; height: 175px !important; position: relative !important; }
ion-row#row-boxes-providers ion-col ion-list ion-item .item-native { --min-height: 175px !important; height: 175px !important; }
ion-row#row-boxes-providers ion-col ion-list ion-item ion-avatar { top: 0 !important; position: absolute !important; }
ion-row#row-boxes-providers ion-col ion-list ion-item ion-label { position: absolute !important; top: 0 !important; right: 0 !important; width: 75% !important; margin: 0 !important; }
ion-row#row-boxes-providers ion-col ion-list ion-item ion-nav { position: absolute !important; bottom: 0 !important; left: 0 !important; top: 75px !important; }
ion-row#row-boxes-providers ion-col ion-list ion-item ion-nav ion-button:nth-child(1) { width: 48% !important; height: 2.75em !important; margin: 0 4% 0 0 !important; float: left !important; --border-radius: 3px; }
ion-row#row-boxes-providers ion-col ion-list ion-item ion-nav ion-button:nth-child(2) { width: 48% !important; height: 2.75em !important; margin: 0 !important; float: left !important; --border-radius: 3px; }



app-fab-whatsapp { width: 45px !important; height: 45px !important; display: block !important; margin: 0 !important; float: none !important; position: fixed !important; bottom: 35px !important; right: 5px !important; border-radius: 50% !important; z-index: 99999; }

ion-fab#zona-whatsapp { width: 45px !important; height: 45px !important; display: block !important; margin: 0 !important; float: none !important; position: absolute !important; top: 0; left: 0; right: 0; }

ion-fab#zona-whatsapp ion-fab-list#lista-whatsapp { width: 265px !important; border-radius: 3px !important; right: 15px; bottom: 25px; background: white; padding: 25px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.35); margin: 10px auto 20px auto; }
ion-fab#zona-whatsapp ion-fab-list#lista-whatsapp ion-label { font-size: 0.95em !important; color: #000 !important; text-align: center; letter-spacing: 0.025em; padding: 15px 0 0 0; text-transform: none; font-weight: 800; }
ion-fab#zona-whatsapp ion-fab-list#lista-whatsapp ion-button { font-size: 0.85em; line-height: 1em; font-weight: 800; width: 100% !important; height: auto; display: block; padding: 10px 15px; text-align: left !important; letter-spacing: 0.075em !important; color: #fff !important; border-radius: 3px !important; background: #309903 !important; --ion-color-base: #309903 !important; --ion-color-base-rgb: var(--ion-color-dark-rgb, 255,255,0) !important; --ion-color-shade: #309903 !important; --ion-color-tint: #309903 !important; --background-activated: #309903; }



ion-fab#zona-whatsapp ion-fab-button#activa-whatsapp { width: 40px !important; border-radius: 75px !important; height: 40px !important; background: #309903 !important; --ion-color-base: #309903 !important; --ion-color-base-rgb: var(--ion-color-dark-rgb, 255,255,0) !important; --ion-color-shade: #309903 !important; --ion-color-tint: #309903 !important; --background-activated: #309903; right: 0; float: right; margin: 0 10px 0 0; }
ion-fab#zona-whatsapp ion-fab-button#activa-whatsapp button.button-native { box-shadow: none !important; }
ion-fab#zona-whatsapp ion-fab-button#activa-whatsapp ion-icon#logo-whatsapp { font-size: 1.55em; padding: 0 10px 0 0; }
ion-fab#zona-whatsapp ion-fab-button#activa-whatsapp ion-label#texto-whatsapp { text-align: left; font-size: 0.9em; font-weight: 100 !important; color: #fff; letter-spacing: 0.025em; }

ion-fab#zona-whatsapp ion-fab-button#activa-whatsapp:host(.ion-color) .button-native { box-shadow: none; }

ion-grid#grid-servicios { display: block; background: url(assets/aux-bg-servicios.png) no-repeat 50% -50px; background-size: cover; padding: 0; height: 600px; }
ion-grid#grid-servicios ion-row.fila-servicios { height: 165px; }

ion-grid#grid-servicios ion-row.fila-servicios ion-col:nth-child(1) { margin-left: 7%; }
ion-grid#grid-servicios ion-row.fila-servicios ion-col:nth-child(3) { margin-left: 7%; }
ion-grid#grid-servicios ion-row.fila-servicios ion-col:nth-child(5) { margin-left: 7%; }

ion-grid#grid-servicios ion-row.fila-servicios ion-col a { width: 100%; height: 130px; display: block; margin: 30px auto 0 auto; float: none; text-decoration: none; }
ion-grid#grid-servicios ion-row.fila-servicios ion-col a ion-img { width: 100%; height: 104px; display: block; margin: 0 auto 5px auto; float: none; }
ion-grid#grid-servicios ion-row.fila-servicios ion-col a ion-text { width: 100%; height: 35px; display: block; margin: 0 auto; float: none; text-align: center; font-size: 0.85em; font-weight: 100 !important; color: #fff; letter-spacing: 0.025em; }

img.icono-lista-se { border-radius: 3px !important; display: block !important; border-radius: 50% !important; }

ion-row#row-registro-proveedores ion-col ion-card a { text-decoration: none; }
ion-row#row-registro-proveedores ion-col ion-card a ion-card-header { background: #001c7d !important; }
ion-row#row-registro-proveedores ion-col ion-card a ion-card-header ion-card-subtitle { text-align: center; font-size: 0.9em; font-weight: 100 !important; color: #fff; padding: 0; text-transform: uppercase; letter-spacing: 0.055em; }

.alert-wrapper.sc-ion-alert-md { background: #fff !important; }



app-header ion-button { width: 40px !important; height: 35px !important; display: block !important; margin: 0 !important; float: none !important; position: absolute !important; top: 10px !important; left: 0 !important; border-radius: 0 !important; font-size: 10px; }
app-header ion-button #shadow-root button { background: #fff !important; border-radius: 0 3px 3px 0 !important; color: #001d7e !important; font-size: 1.15em !important; padding: 0 !important; border-radius: 3px !important; }
app-header ion-button #shadow-root button span.button-inner { background: #fff !important; border-radius: 0 3px 3px 0 !important; color: #001d7e !important; font-size: 1.15em !important; padding: 0 !important; }

.icono-menu { width: 30px; height: 30px; display: block; margin: 0 15px 0 0; }

ion-card-header#boton-inicio { padding: 14px 15px 9px 15px; }
ion-card-header#boton-inicio { padding: 14px 15px 9px 15px; background: #162C8C !important; text-decoration: none !important; }
ion-card-header#boton-inicio:host { color: #fff !important; text-decoration: none !important; text-align: center !important; }
ion-card-header#boton-inicio ion-card-subtitle { color: #fff !important; text-decoration: none !important; text-align: center !important; }

ion-list#list-ios-inicio { margin-bottom: 10px; }
ion-list.list-md#list-ios-inicio { margin-bottom: 0; padding-top: 0; padding-bottom: 0; }

img#logo-home { margin: 35px auto 0; }

ion-content.md ion-avatar { margin-top: 0; margin-bottom: 0; }
ion-content.md ion-card-header#boton-inicio { padding: 12px 15px 7px 15px; background: #162C8C !important; text-decoration: none !important; }
ion-content.md ion-card-header#boton-inicio:host { color: #fff !important; text-decoration: none !important; text-align: center !important; }
ion-content.md ion-card-header#boton-inicio ion-card-subtitle { color: #fff !important; text-decoration: none !important; text-align: center !important; letter-spacing: 0.095em !important; font-weight: 600 !important; }

ion-card#button-proveedores { margin-top: -40px; margin-bottom: 45px; }
ion-card#button-proveedores a { text-decoration: none !important; }

ion-img.ico-user-wp { transform: scale(0.8); margin: 0 5px 0 0; }

.alert-radio-label.sc-ion-alert-md { -webkit-padding-end: 10px !important; padding-inline-end: 10px !important; font-weight: 800 !important; letter-spacing: 0.055em !important; }
.alert-button.sc-ion-alert-md { font-weight: 800 !important; letter-spacing: 0.085em !important; }

.picker-wrapper.sc-ion-picker-md { background: #fff !important; }
.picker-wrapper.sc-ion-picker-md .picker-button.sc-ion-picker-md,
.picker-wrapper.sc-ion-picker-md .picker-button.activated.sc-ion-picker-md { font-weight: 800 !important; letter-spacing: 0.085em !important; }

div.picker-opts { margin-top: -82px !important; }

.sc-ion-card-md-h { background: #fff !important; letter-spacing: 0.025em; font-weight: 600; color: #000; }

.native-input.sc-ion-input-ios,
.native-input.sc-ion-input-md { font-family: 'FuturaLT Light' !important; font-weight: 600 !important; }

ion-select,
ion-select-option { font-family: 'FuturaLT Light' !important; font-weight: 600 !important; letter-spacing: 0.015em !important; }

ion-badge { border-radius: 50%; width: 25px; height: 25px; padding: 7px 0; font-size: 0.75em; font-weight: bold; }

.sc-ion-label-md-s h2 { font-family: 'FuturaLT Light' !important; font-weight: 600 !important; letter-spacing: 0.015em !important; color: #001D7E !important; }

ion-card-title { color: #001d7e !important; }



ion-card.card-precios { margin-bottom: 25px; background: #fff; }
ion-card.card-precios ion-card-header { background: #001d7e; }
ion-card.card-precios ion-card-header ion-card-subtitle { color: #999; font-weight: 900; font-size: 0.9em; line-height: 1.2em; letter-spacing: 0.075em; text-transform: uppercase; }
ion-card.card-precios ion-card-header ion-card-title { color: #fff !important; font-weight: bolder; padding-top: 0; padding-bottom: 8px; letter-spacing: 0.075em; line-height: 1em; font-size: 1.75em; }
ion-card.card-precios ion-card-header ion-img { padding: 20px 0 0; transform: scale(1.5); }

ion-card.card-precios ion-card-content { background: #fff; margin: 20px auto 0; }

ion-card.card-precios ion-card-content h4,
ion-card.card-precios ion-card-content h5,
ion-card.card-precios ion-card-content h6 { color: #333; font-weight: 900; font-size: 1em; padding: 0 0 2px; }

ion-card.card-precios ion-card-content h4 { margin-top: 0; font-size: 1.3em; color: #000; }

ion-card.card-precios ion-card-content p.precio-normal { text-decoration: line-through; color: #910000; font-weight: 900; font-size: 0.95em; }
ion-card.card-precios ion-card-content p.precio-descuento { color: #333; font-weight: 500; font-size: 1.1em; }
ion-card.card-precios ion-card-content p.precio-descuento strong { color: #000; font-weight: 900; }

ion-card.card-precios ion-card-content hr { width: 90%; height: 1px; display: block; margin: 15px auto; float: none; position: relative; border: none; outline: none; border-radius: 50%; background: rgba(0, 29, 126, 0.55); }

.sc-ion-card-md-h { margin-bottom: 25px !important; background: #fff !important; }
.sc-ion-card-ios-h { margin-bottom: 25px !important; background: #fff !important; }

.sc-ion-card-md-s img { width: 100% !important; }

ion-icon[name="star"] { color: #001d7e !important; }
ion-icon[name="star-half"] { color: #001d7e !important; }

ion-text.md.hydrated { color: #000; font-weight: 600; text-align: center; float: none; margin: 20px auto 10px auto; }



#registro-hazlo-aqui { width: 90%; height: auto; display: block; margin: 5px auto 0 auto; float: none; position: relative; background: #001d7e !important; border-radius: 5px; color: #fff; text-decoration: none; font-size: 0.9em; line-height: 1em; font-weight: 600; padding: 10px 0; text-align: center; letter-spacing: 0.035em; transition: all 0.3s ease-in; }
#registro-hazlo-aqui:hover { background: #333 !important; transition: all 0.15s ease-out; }

#olvidaste-pass { color: #001d7e !important; font-weight: bolder; padding: 0; letter-spacing: 0.075em; line-height: 1em; font-size: 0.9em; text-decoration: none; text-align: center; }



ion-card.card-tyc { margin-bottom: 25px; background: #fff; }
ion-card.card-tyc ion-card-header { background: #001d7e; }
ion-card.card-tyc ion-card-header ion-card-subtitle { color: #000; font-weight: 900; font-size: 1em; line-height: 1.2em; letter-spacing: 0.075em; text-transform: uppercase; }
ion-card.card-tyc ion-card-header ion-card-title { color: #fff !important; font-weight: bolder; padding-top: 0; padding-bottom: 8px; letter-spacing: 0.075em; line-height: 1em; font-size: 1.75em; }
ion-card.card-tyc ion-card-header ion-img { padding: 20px 0 0; transform: scale(1.5); }

ion-card.card-tyc ion-card-content { background: #fff; margin: 20px auto 0; }

ion-card.card-tyc ion-card-content ion-card-subtitle { color: #001d7e; font-weight: 900; font-size: 1.1em; line-height: 1.2em; letter-spacing: 0.075em; padding: 20px 0 5px; }
ion-card.card-tyc ion-card-content p { color: #000; font-weight: 800; font-size: 1em; text-align: left; }
ion-card.card-tyc ion-card-content p strong { color: #000; font-weight: 900; }
ion-card.card-tyc ion-card-content p.texto-indentado { padding: 0 0 0 10px; }







