<ion-menu side="start" menuId="menuPrincipal" class="my-custom-menu" contentId="principal">
  <ion-header>
    <ion-toolbar color="#001d7e">
      <ion-title>
        <img src="../../assets/aux-logo-nuevo-02.svg" width="80">
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle *ngIf="!userLogged">
        <ion-item routerLink="/home">
          <ion-icon name="home" slot="start"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item routerLink="/solicitar-servicio">
          <ion-icon name="home" slot="start"></ion-icon>
          <ion-label>Solicitar Servicio</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item routerLink="/grupos-servicios-especiales">
          <ion-icon name="home" slot="start"></ion-icon>
          <ion-label>Especializados</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item routerLink="/lista-de-precios">
          <ion-icon name="home" slot="start"></ion-icon>
          <ion-label>Lista de Precios</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle *ngIf="userLogged">
        <ion-item routerLink="/mis-servicios">
          <ion-icon name="home" slot="start"></ion-icon>
          <ion-label>Mis Servicios</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>