<ion-menu side="start" menuId="menuPrincipal" class="my-custom-menu" contentId="principal">
  <ion-header>
    <ion-toolbar color="#001d7e">
      <ion-title>
        <img src="../../assets/aux-logo-nuevo-02.svg" width="80">
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle *ngIf="!userLogged">
        <ion-item routerLink="/home">
          <img src="../../assets/aux-003.svg" width="120" height="120" class="icono-menu">
          <ion-label>Inicio</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle *ngIf="userLogged">
        <ion-item routerLink="/mi-perfil">
          <img src="../../assets/aux-003.svg" width="120" height="120" class="icono-menu">
          <ion-label>Mi Perfil</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item routerLink="/solicitar-servicio">
          <img src="../../assets/aux-001.svg" width="120" height="120" class="icono-menu">
          <ion-label>Solicitar Servicio</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle>
        <ion-item routerLink="/grupos-servicios-especiales">
          <img src="../../assets/aux-006.svg" width="120" height="120" class="icono-menu">
          <ion-label>Especializados</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle *ngIf="userLogged">
        <ion-item routerLink="/mis-servicios">
          <ion-icon name="home" slot="start"></ion-icon>
          <ion-label>Mis Servicios</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle *ngIf="userLogged">
        <ion-item routerLink="/usuarios-asociados">
          <ion-icon name="home" slot="start"></ion-icon>
          <ion-label>Usuarios Asociados</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle *ngIf="userLogged" (click)="CerrarSesion()">
        <ion-item>
          <ion-icon name="home" slot="start"></ion-icon>
          <ion-label>Cerrar Sesión</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>